@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Drawing Animation */
@keyframes draw {
  from {
    stroke-dasharray: 0, 100;
  }
  to {
    stroke-dasharray: 100, 0;
  }
}

.draw {
  stroke-dasharray: 100, 0;
  animation: draw 5s ease forwards;
}
